<%= render('navigation/top_nav') %>


<div class="row">
  <div class="col col-3">
    <%= render('about_me') %>
  </div>
  <div class="col col-9">
    <h1>About Edita</h1>

    <p>This is my</p>
    <%= @edita[:first_name] %> <br>
    <%= @edita[:last_name] %> <br>
    <%= @edita[:age] %> <br>
    <%= @edita[:street] %> <br>
    <%= @edita[:city] %> <br>
    <hr>

    <% @users.each_with_index do |user, i| %>
     <%= i + 1 %>. <strong><%= user[:first_name] %></strong> <%= user[:last_name] %><br>
    <% end %>

  </div>
</div>
