<div id="presentation">
  <%= render('templates/presentation/header') %>
  <main role="main">
    <%= render('templates/presentation/intro') %>
    <div class="album py-5 bg-light">
      <div class="container">
        <h2>Project samples</h2>
        <div class="btn-group pull-right">
          <a class="github-button" href="https://github.com/edita-vaj/rails-5" data-size="large" aria-label="Fork edita-vaj/rails-5 on GitHub">Github</a>
        </div>
        <p>These are not original web pages of Google, Gmail or Sreality.cz
        It's just a copies what I did when <br>I trained my self in programing, using Bootstrap CSS framework and Ruby on Rails.</p>
        <div class="row">
          <div class="col-md-4">
            <%= render('templates/presentation/project',
                       title: 'Google.com - search input', description: 'Html clone of the Google search homepage.',
                       link: {url: '/templates/google'},
                       img: { url: 'google-search.png'}) %>
          </div>
          <div class="col-md-4">
            <%= render('templates/presentation/project',
                       title: 'Gmail.com - Email client', description: 'Clone of the Google Gmail email client. ........',
                       link: {url: '/templates/gmail'},
                       img: { url: 'google-gmail.png'}) %>
          </div>
          <div class="col-md-4">
            <%= render('templates/presentation/project',
                       title: 'Sreality.cz', description: 'Clone of the sign in form, from the Sreality.cz account',
                       link: {url: '/templates/forms'},
                       img: { url: 'sreality-login.png'}) %>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%= render('templates/presentation/footer') %>
</div>