<div class="card mb-4 shadow-sm">
  <a href="<%= link[:url] %>" target="_blank">
   <%= image_tag(img[:url], class: 'card-img top') %>
  </a>
  <hr>
  <div class="card-body">
    <h5 class="card-title"><%= title %></h5>
    <p class="card-content text-muted">
      <%= description %>
    </p>

    <h6>Created with</h6>
    <span class="badge badge-dark">HTML</span>
    <span class="badge badge-success">SASS/CSS</span>
    <span class="badge badge-info">Bootstrap 4.3</span>

  </div>
  <div class="card-footer">
    <div class="btn-group">
      <a class="github-button" href="https://github.com/edita-vaj/rails-5" data-icon="octicon-repo-forked" aria-label="Fork edita-vaj/rails-5 on GitHub">Fork</a>
    </div>
    <div class="btn-group pull-right">
      <a href="<%= link[:url] %>" target="_blank" class="btn btn-sm btn-primary">Show</a>
    </div>
  </div>
</div>